.questionPaper {
  background: transparent;
  border: 1px solid #fe0a0aad;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  padding: 10px 15px;
  color: #000;
  cursor: pointer;
}
